* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    background-color: #e5e5e5;
}

.container {
    display: flex;
    height: auto;
}

.sidebar {
    width: 15%;
    height: 100vh;
    background-color: #4CAF8F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    color: white;
    position: fixed; /* fixa na lateral esquerda */
    top: 0;
    left: 0;
}

.logo {
    text-align: center;
    padding: 1rem;
}

.logo img {
    width: 75%;
    height: auto;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 1rem;
    flex-grow: 1;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 12px;
    border-bottom: 1px solid #ffffff55;
    transition: background 20s;
    border-radius: 6px;
}

.menu a:hover {
    background-color: #3e8d74;
    
}

.user-info {
    background-color: #3e8d74;
    margin: 0 1rem;
    margin-top: auto;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    font-size: 0.9rem;
}

.logout-btn {
    display: inline-block;
    margin-top: 0.5rem;
    background-color: #2f6655;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.logout-btn:hover {
    background-color: #244d42;
}

.main-content {
    margin-left: 15%;
    padding: 2rem;
    height: 100vh;
    overflow-y: auto; /* conteúdo rola dentro dessa área */
    width: 85%;
    background-color: #e5e5e5;
}

 /* Dropdown Button */
 .dropbtn {
    width: 100%;
    text-align: left;
    padding: 16px;
    font-size: 16px;
    background-color: #4CAF8F;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background 0.3s;
    border-radius: 6px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ffffff55;
  }
  
  .dropbtn:hover {
    background-color: #3e8d74;
  }
  
  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    background-color: #3e8d74;
    border-radius: 6px;
  }
  
  .dropdown-open {
    /* transition: max-height 0.7s ease; */
    max-height: 500px; /* ou quanto precisar */
  }
  
  .dropdown-close {
    transition: max-height 0.5s ease;

    max-height: 0;
  }
  
  .dropdown-content a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
    transition: background 0.2s;
    border-bottom: 1px solid #ffffff33;
  }
  
  .dropdown-content a:hover {
    background-color: #2f6655;
  }
  
  .dropdown-content.show {
    max-height: 500px;
  }
  