@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e5e5e5;
}
.content {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before {
    content: "";
    position: absolute;
    background-color: #8f58af;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}
.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary {
    color: #fff;
}
.title-second {
    color: #4CA78A;
}
.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary {
    color: #fff;
}
.description-second {
    color: #7f8c8d;
}
.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
    text-decoration: none;
}
.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}
.btn-primary:hover {
    background-color: #fff;
    color: #58af9b;
}
.btn-second {
    background-color: #4CA78A;
    border: 1px solid #58af9b;
    transition: background-color .5s;
    display: block;
    margin: 10px auto;
}
.btn-second:hover {
    background-color: #fff;
    border: 1px solid #58af9b;
    color: #58af9b;
}
.first-content {
    display: flex;
}
.first-content .second-column {
    z-index: 11;
}
.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}
.second-column {
    width: -50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-column h2{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    color: #4CA78A;
}

.second-column table {
    width: 50%;
    margin: 40px auto;
    border-collapse: separate;
    border-spacing: 0 12px;
    background-color: transparent;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.second-column thead {
    background-color: #4CA78A;
    color: #1e1e1e;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.second-column thead th {
    background-color: #4CA78A;
    color: #005546;
    font-weight: bold;
    padding: 12px 16px;
    border-right: 1px solid #005546;
}

.second-column thead th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.second-column thead th:last-child {
    border-right: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.second-column tbody tr {
    background-color: #ECF0F1;
    border-radius: 8px;
}

.second-column tbody td {
    padding: 12px 16px;
    text-align: center;
    color: #606060;
    font-weight: 500;
    border-right: 1px solid #606060;
}

.second-column tbody td:last-child {
    border-right: none;
}

.second-column tbody tr td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.second-column tbody tr td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}
input:-webkit-autofill 
{    
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}
.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

.second-content {
    position: absolute;
    display: flex;
}
.second-content .first-column {
    order: 2;
    z-index: -1;
}
.second-content .second-column {
    order: 1;
    z-index: -1;
}
.ID-Turma {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.ID-Turma::first-letter {
    text-transform: capitalize;
}

@media screen and (max-width: 740px) {
    .form {
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    .form {
        width: 100%;
    }
}