<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <div class="content first-content">
            <div class="first-column">
                <h2 class="Titulo">Teste</h2>
                <p class="descricao">teste</p>
                <p class="descricao2">teste2</p>
                <button class="botao">teste4</button>
        </div>
        <div class="content second-content"></div>
         <h2 class="titulo2">Adicionar Aluno</h2>
         <p class="Informacao">Insira as Informações</p>
         <form class="form" action="/alunos_adicionados" method="post">
            <label class="label_input" for="">
                <i class="far fa-user icon-modify"></i>
                <input type="text" placeholder="Nome-teste" name="nome">
            </label>

            <label class="label_input" for="">
                <i class="far fa-user envelope-modify"></i>
                <input type="text" placeholder="Matricula-teste" name="matricula">
            </label>

            <label class="label_input" for="">
                <i class="fas fa-lock icon-modify"></i>
                <input type="text" placeholder="ID-Turma-teste" name="turma_id">
            </label>

            <button class="Botao-matricular" type="submit">Matricular</button>
         </form>
       
    </div>
</body>
</html>