{% extends "model.html" %}

{% block title %}
    <title>SGA - Aluno pesquisado</title>
{% endblock %}

{% block content %}
    <h2>Alunos pesquisados</h2>

    <table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Matrícula</th>
            <th>Turma</th>
        </tr>
    </thead>
        {% for nome_aluno, matricula_aluno, nome_turma, serie_turma in alunos %}
            <tr>
                <td>{{ nome_aluno }}</td>
                <td>{{ matricula_aluno }}</td>
                <td>
                    {% if nome_turma is none and serie_turma is none %}
                        Sem turma
                    {% else %}
                        {{ serie_turma }} {{ nome_turma }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
