<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Disciplinas</title>
    <link rel="stylesheet" href="../static/style_cadastrar_disciplinas.css">
    
</head>
<body>
   
    <div class="second-column">
        <h2 class="title title-second">Cadastrar Disciplinas</h2>
        <p class="description description-second">Insira as informações para cadastrar:</p>
        <form class="form" action="/disciplina_cadastrada" method="post">
            <label class="label-input" for="nome_turma">
                <i class="far fa-user icon-modify"></i>
                <input type="text" id="nome_turma" name="nome_disciplina" placeholder="Ex: Matemática" required>
            </label>
            <button class="btn btn-second">Cadastrar</button>        
        </form>
    </div><!-- a parte de second column -->
</div>

</body>
</html>