{% extends "model.html" %}

{% block title %}
    <title>SGA - Deletar turma</title>
{% endblock %}

{% block content %}
    <h2>Deletar Turma</h2>
    <p class="description description-second">ID da turma para excluir:</p>
    <form class="form" method="POST" action="/turma_deletada">
        <label class="label-input" for="turma_id">
            <i class="far fa-user icon-modify"></i>
            <input type="text" placeholder="Ex: Turma B" name="turma_id" required>
        </label>
        <button class="btn btn-second" type="submit">Deletar</button>
    </form>

{% endblock %}