<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Deletar Turma</title>
</head>
<body>
    <h1>Deletar Turma</h1>

    <form method="POST" action="/turma_deletada">
        <label for="turma_id">ID da Turma:</label>
        <input type="text" name="turma_id" required>
        <button class="btn btn-second" type="submit">Deletar</button>
        <a  href="/" class="btn btn-second">Voltar</a>
    </form>

</body>
</html>
