{% extends "model.html" %}

{% block title %}
    <title>SGA - Consulta de disciplinas</title>
{% endblock %}

{% block content %}
<table>
    {% if mostrar_todas %}
    <h2>Disciplinas consultadas</h2">
    
    <thead>
        <tr>
            <th>Disciplina</th>
            <th>ID</th>
        </tr>
    </thead>
        {% for disciplina in disciplinas %}
        <tbody>
            <tr>
                <td>{{ disciplina.nome }}</td>
                <td>{{ disciplina.id }}</td>
            </tr>
        </tbody>
        {% endfor %}
    
    {% else %}
    <h2>Disciplina "{{disciplina.nome}}" consultada</h2">
    <thead>
        <tr>
            <th>Discentes</th>
            <th>Matriculas</th>
        </tr>
    </thead>
    <tbody>
        
    
        {% if alunos %}
            {% for aluno in alunos %}
            <tr>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.matricula }}</td>
            </tr>
                {% endfor %}
            
        {% else %}
            <p>Não há alunos vinculados a esta disciplina.</p>
        {% endif %}
    </tbody>
    
    {% endif %}
</table>
{% endblock %}