{% extends "model.html" %}

{% block title %}
    <title>SGA - Editar aluno</title>
{% endblock %}

{% block content %}

    <h2>Editar Informações do Aluno</h2>
    <p class="description description-second">Insira a matrícula para encontrar o aluno:</p>
    <p class="description description-second">Insira o novo nome (opcional):</p>
    <p class="description description-second">Selecione a nova turma (opcional):</p>

    <form class="form" action="/aluno_editado" method="post">
        <label class="label-input">
            <i class="far fa-user icon-modify"></i>
            <input type="text" placeholder="Informe a Matrícula" name="matricula" required>
        </label>

        <label class="label-input">
            <i class="far fa-user icon-modify"></i>
            <input type="text" placeholder="Informe o Nome (opcional)" name="nome_aluno">
        </label>

        <label class="label-input">
            <i class="far fa-user icon-modify"></i>
            <select name="id_turma">
                <option value="">Selecione uma nova turma (opcional)</option>
                {% for turma in turmas %}
                    <option value="{{ turma.id }}">{{ turma.serie }} - {{ turma.nome }}</option>
                {% endfor %}
            </select>
        </label>

        <button class="btn btn-second">Editar</button> 
    </form>

{% endblock %}
