<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style_gerar_relatorio.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>Gerar Relatório</title>
</head>
<body>
    <div class="second-column">
        <h2 class="title title-second">Gerar Relatório de Notas</h2>
        <form class="form" method="post">
            <label class="label-input" for="nome_aluno">
                <i class="far fa-user icon-modify"></i>
                <input type="text" placeholder="Numero da Matricula:" name="matricula_aluno" required>
            </label>  
            <button class="btn btn-second" type="submit">Gerar Relatório</button>        
        </form>
        <a  href="/" class="btn btn-second">Voltar</a>
    </div>
    </div>
</body>
</html>

