<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
</head>
<body>
    <h1>Deu certo!!!</h1>

    <nav>
        <a href="/adicionar_alunos">Adicionar alunos</a><br>
        <a href="#">Pesquisar Alunos</a><br>
        <a href="/criar_turmas">Criar Turmas</a><br>
        <a href="#">Adicionar alunos nas turmas</a><br>
    </nav>
</body>
</html>