<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>SGA</title>
</head>
<body>
    <h1>Sistema de Gestão Escolar</h1>

    <nav>
        <a href="/adicionar_alunos">Adicionar Alunos</a><br>
        <a href="/pesquisar_alunos">Pesquisar Aluno</a><br>
        <a href="/editar_aluno">Editar Aluno</a><br>
        <a href="/deletar_aluno">Deletar Aluno</a><br>
        <a href="/criar_turmas">Criar Turmas</a><br>
        <a href="/pesquisar_turmas">Pesquisar Turmas</a><br>
        <a href="/cadastrar_disciplinas">Cadastrar Disciplinas</a><br>
        <a href="/consultar_disciplina">Consultar Disciplinas</a><br>
        <a href="/vincular_disciplina">Vincular Disciplinas</a><br>
        <a href="/inserir_notas">Inserir Notas</a><br>
        <a href="/gerar_relatorio">Gerar Relatório</a><br>
    </nav>
</body>
</html>