{% extends "model.html" %}

{% block title %}
    <title>SGA - Inserir notas</title>
{% endblock %}

{% block content %}

    <div class="second-column">
        <h2 class="title title-second">Inserir nota de Aluno</h2>
        <form class="form" method="post">
            <label class="label-input" for="matricula_aluno">
                <i class="far fa-user icon-modify"></i>
                <input type="text" placeholder="Matricula do aluno:" name="matricula_aluno">
            </label>
            <button class="btn btn-second">Buscar Aluno</button>        
        </form>
    </div>
    </div>
    
    
    {% if aluno %}
        <h2>Disciplinas do Aluno: {{ aluno.nome }}</h2>
        
        <form method="POST">
            <input type="hidden" name="matricula_aluno" value="{{ aluno.matricula }}">
            
            {% for aluno_disciplina in aluno.disciplinas %}
            <label for="nota_{{ aluno_disciplina.disciplina.id }}">{{ aluno_disciplina.disciplina.nome }}:</label>
            <input type="number" name="nota_{{ aluno_disciplina.disciplina.id }}" step="0.1" min="0" max="10" required>
            <br>
        {% endfor %}
        
    
            <button type="submit">Salvar Notas</button>
        </form>
    {% endif %}
    
{% endblock %}