<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} 
    <title>SGA -</title>
    {% endblock %}

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="/static/script/script.js"></script>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="../static/img/sga_logo_img.png" alt="Logo SGA">
            </div>
            <nav class="menu">
                <a href="/">INÍCIO</a>
                <div class="dropdown">
                    <button onclick="myFunction(this)" class="dropbtn">ALUNOS</button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="/adicionar_alunos">Cadastrar aluno</a>
                      <a href="/deletar_aluno">Deletar aluno</a>
                      <a href="/editar_aluno">Editar aluno</a>
                      <a href="/pesquisar_alunos">Pesquisar aluno</a>
                      <a href="/inserir_notas">Inserir notas</a>
                    </div>
                </div> 
                
<!------------------------------------------------------------------------------------->
                <div class="dropdown">
                    <button onclick="myFunction(this)" class="dropbtn">TURMAS</button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="/criar_turmas">Cadastrar turma</a>
                      <a href="/deletar_turma">Deletar turma</a>
                      <a href="/pesquisar_turmas">Pesquisar turma</a>
                    </div>
                </div> 
<!------------------------------------------------------------------------------------->
                <div class="dropdown">
                    <button onclick="myFunction(this)" class="dropbtn">DISCIPLINAS</button>
                    <div id="myDropdown" class="dropdown-content">
                    <a href="/cadastrar_disciplinas">Cadastrar disciplinas</a>
                    <a href="/vincular_disciplina">Vincular Disciplina</a>
                    <!--<a href="/deletar_disciplina">Deletar Disciplina</a>-->
                    <a href="/consultar_disciplina">Pesquisar disciplina</a>
                    </div>
                </div> 
<!------------------------------------------

                <div class="dropdown">
                    <button onclick="myFunction(this)" class="dropbtn">PROFESSORES</button>
                    <div id="myDropdown" class="dropdown-content">
                    <a href="/editar_disciplina">Editar Disciplina</a>
                    <a href="/deletar_disciplina">Deletar Disciplina</a>
                    </div>
                </div> 
                <div class="dropdown">
                    <button onclick="myFunction(this)" class="dropbtn">DIGITAÇÃO</button>
                    <div id="myDropdown" class="dropdown-content">
                    <a href="/editar_disciplina">Editar Disciplina</a>
                    <a href="/deletar_disciplina">Deletar Disciplina</a>
                    </div>
                </div> 
            ------------------>
                
                <a href="/gerar_relatorio">RELATÓRIOS</a>
            </nav>
            <div class="user-info">
                <p>Matrícula:<br><strong>{{ current_user.matricula_user }}</strong></p>
                <a href="/logout" class="logout-btn">
                    <i class="fas fa-sign-out-alt"> SAIR</i> 
                </a>
            </div>
        </aside>
        <main class="main-content">
            <div class="second-column">
            {% block content %}
            {% endblock %}
            </div>
        </main>
    </div>
</body>