{% extends "model.html" %}

{% block title %}
    <title>SGA - Pesquisar turma</title>
{% endblock %}

{% block content %}

    <h2>Pesquisar por Turmas e Alunos</h2>
    <p class="description description-second">Insira as informações para pesquisar:</p>
    <form class="form" action="/turmas_pesquisadas" method="post">
        <label class="label-input" for="nome_turma">
            <i class="far fa-user icon-modify"></i>
            <input type="text" id="nome_turma" placeholder="Nome da turma:" name="nome_turma">
        </label>
        <button class="btn btn-second" type="submit">Pesquisar</button>        
    </form>

{% endblock %}
