{% extends "model.html" %}

{% block title %}
    <title>SGA - Pesquisar aluno</title>
{% endblock %}

{% block content %}

    <h2>Pesquisar Alunos</h2>
    <p class="description description-second">Insira as informações para pesquisar:</p>
    <form class="form" action="/aluno_pesquisado" method="post">
        <label class="label-input" for="">
            <i class="far fa-user icon-modify"></i>
            <input type="text" placeholder="Ex: Fulano" name="nome_aluno">
        </label>
        <button class="btn btn-second">Pesquisar</button>        
    </form>

{% endblock %}  