<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="" method="POST">
        MATRICULA: <input type="text" name="matricula_user" id=""><br>
        NOME: <input type="text" name="nome_user" id=""><br>
        SENHA: <input type="password" name="senha_user" id=""><br>
        Cargo <input type="text" name="cargo_user" id=""><br>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>