{% extends "model.html" %}

{% block title %}
    <title>SGA - Turma pesquisada</title>
{% endblock %}

{% block content %}

    <h2>Turmas</h2>
    
    {% if turmas %}
            {% for turma in turmas %}
                <table>
                <thead>
                    <th>{{ turma.nome }}</th>
                </thead>
                <tbody>
                    {% for nome_aluno in turma.alunos %}
                        <tr><td>{{ nome_aluno.nome }}</td></tr>
                    {% else %}
                        <td>Sem alunos cadastrados nesta turma.</td>
                    {% endfor %}
                </tbody>
                </table>
            {% endfor %}
    {% else %}
        <p>Não há turmas cadastradas.</p>
    {% endif %}


{% endblock %}