{% extends "model.html" %}

{% block title %}
    <title>SGA - Turma pesquisada</title>
{% endblock %}

{% block content %}

    <h2>Turmas e Alunos</h2>
    
    {% if turmas %}
        <ul>
            {% for turma in turmas %}
                <li>
                    <h2>Turma: {{ turma.nome }}</h2>
                    <p>Alunos:</p>
                    <ul>
                        {% for aluno in turma.alunos %}
                            <li>{{ aluno.nome }}.</li>
                        {% else %}
                            <li>Sem alunos cadastrados nesta turma.</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Não há turmas cadastradas.</p>
    {% endif %}


{% endblock %}