<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vincular Aluno a Disciplina</title>
    <link rel="stylesheet" href="../static/style_vincular_disciplina.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <div class="second-column">
        <h2 class="title title-second">Vincular Aluno a Disciplina</h2>
        <form class="form" action="/disciplina_vinculada" method="post">
            <label class="label-input" for="matricula_aluno">
                <i class="far fa-user icon-modify"></i>
                <input type="text" placeholder="Matricula do Aluno:" name="matricula_aluno" required>
            </label>
            <label class="label-input" for="disciplina_id">
                <i class="far fa-user icon-modify"></i> 
                <input type="text" placeholder="ID da Disciplina:" name="disciplina_id" required>
            </label>
            <button class="btn btn-second">Vincular</button>        
        </form>
    </div>
</div>

</div>
</body>
</html>

 